body {
  margin: 0;
  background: #181818;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  background: white;
  width: 90%;
  max-width: 700px;
  height: 420px;
  border-radius: 12px;
  touch-action: none;
}

button {
  padding: 12px 18px;
  margin: 5px;
}
